.sr-only {
	width: 0;
	height: 0;
	position: absolute;
	top: -100000px;
	left: -100000px;
}

details {
  display: inline-block;
  background-color: black;
  color: white;
}

body {
  font-family: 'monospace';
}

table {
	border-collapse: collapse;
}

table td,
table td {
	border: 1px solid black;
}

li[role="treeitem"] input.highlight + label,
li[role="treeitem"] summary input.highlight + label {
  background-color: #ff8500;
}

td:has(input:checked) {
  background-color: #ff8500;
}

svg .highlight[data-type="visual"] {
  fill: #ff8500;
  stroke: #ff8500 !important;
}

svg .highlight[data-type="text"] {
  font-weight: bold;
}

input:focus + label {
  background-color: blue !important;
}

