.sr-only {
	width: 0;
	height: 0;
	position: absolute;
	top: -100000px;
	left: -100000px;
}

details {
  display: inline-block;
}

body {
  font-family: 'monospace';
	background-color: #222222;
	color: #ffffff;
}

table {
	border-collapse: collapse;
}

table td,
table td {
	border: 1px solid white;
}

li[role="treeitem"] input.focus + label,
li[role="treeitem"] summary input.focus + label {
  background-color: blue;
}

li[role="treeitem"] input.highlight + label,
li[role="treeitem"] summary input.highlight + label,
li[role="treeitem"] summary.highlight {
  background-color: #ff8500;
}

td:has(input.focus) {
  background-color: blue;
}

td:has(input:checked) {
  background-color: #ff8500;
}

svg .focus[data-type="visual"] {
  fill: blue;
  stroke: blue !important;
}

svg .highlight[data-type="visual"] {
  fill: #ff8500;
  stroke: #ff8500 !important;
}

svg .focus[data-type="text"],
svg .highlight[data-type="text"] {
  font-weight: bold;
}

summary:focus {
  background-color: blue;
}

input:focus + label {
  background-color: blue;
}

