.sr-only {
	width: 0;
	height: 0;
	position: absolute;
	top: -100000;
	left: -100000;
}

table {
	border-collapse: collapse;
}

table td,
table td {
	border: 1px solid black;
}

table .highlight {
  color: red;
}

svg .highlight[data-type="visual"] {
  fill: red;
}

