<table>
	<caption>{{ caption }}</caption>
	<thead>
		<tr>
			<th data-col="0">Index</th>
			<th data-col="1">Year</th>
			<th data-col="2">Revenue</th>
			<th id="highlight_heading">Highlighted</th>
		</tr>
	</thead>
	<tbody>
		{% for performance in records %}
			<tr>
				<td data-row="{{ loop.index }}" class="highlightable">{{ loop.index }}</td>
				<td data-col="1" data-row="{{ loop.index }}"class="highlightable">{{ performance.year }}</td>
				<td data-col="2" data-row="{{ loop.index }}"class="highlightable">{{ performance.revenue }}</td>
				<td><input type="checkbox" aria-labelledby="highlight_heading"></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<!-- a place to render updates -->
<textarea editable="false" role="log" id="a11y-log" class="sr-only" aria-live="polite" aria-atomic="false"></textarea>
