<table>
	<caption>{{ caption }}</caption>
	<thead>
		<tr>
			<th data-col="0">Index</th>
			<th data-col="1">Year</th>
			<th data-col="2">Revenue</th>
		</tr>
	</thead>
	<tbody>
		{% for performance in records %}
			<tr>
				<td>
          <label for="cell-{{ loop.index }}-0">{{ loop.index }}</label>
          <input id="cell-{{ loop.index }}-0" type="checkbox" data-row="{{ loop.index }}"class="highlightable sr-only"/>
        </td>
				<td>
          <label for="cell-{{ loop.index }}-1">{{ performance.year }}</label>
          <input id="cell-{{ loop.index }}-1" type="checkbox" data-col="1" data-row="{{ loop.index }}"class="highlightable sr-only"/>
        </td>
				<td>
          <label for="cell-{{ loop.index }}-2">{{ performance.revenue }}</label>
          <input id="cell-{{ loop.index }}-2" type="checkbox" data-col="2" data-row="{{ loop.index }}"class="highlightable sr-only"/>
        </td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<!-- a place to render updates -->
<textarea editable="false" role="log" id="a11y-log" class="sr-only" aria-live="polite" aria-atomic="false"></textarea>
