<table>
	<caption>{{ caption }}</caption>
	<thead>
		<tr>
			<th>Index</th>
			<th>Year</th>
			<th>Revenue</th>
			<th id="highlight_heading">Highlighted</th>
		</tr>
	</thead>
	<tbody>
		{% for performance in records %}
			<tr id="table-{{ loop.index }}">
				<td class="highlightable">{{ loop.index }}</td>
				<td class="highlightable">{{ performance.year }}</td>
				<td class="highlightable">{{ performance.revenue }}</td>
				<td class="highlightable"><input type="checkbox" aria-labelledby="highlight_heading"></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
